.header {
    background-color:rgba(255, 255, 255, 0.87);
    height: auto;
    width: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Gowun Dodum', sans-serif;
    padding: 2.5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.col {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#citySearch {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 198, 144);
}

#todaysWeather {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: rgb(231, 154, 255);
}

#cityForm {
    width: 300px;
}

#myCities {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(146, 255, 143);
}

#fiveDay {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: rgb(176, 255, 231);
}

#getWeather {
    margin: 10px;
}

.form-label {
    font-size: 24px;
}

#city-text {
    width: 300px;
}

button {
    background-color: rgba(255, 255, 255, 0.466);
}

body {
    background-image: url(../Capture.PNG);
}

