.header {
    height: auto;
    text-align: center;
    font-size: 64px;
    color:rgb(255, 255, 255);
    font-weight: 600;
}

.date {
    height: auto;
    text-align: center;
    font-size: 50px;
    color:rgb(255, 255, 255);
    font-weight: 600;
}

.container {
    width: 100%;
    padding: 20px;
    width: 400%;
    background-color: rgba(0, 125, 136, 0.644);
    border-radius: 10px;
    align-items: center;
}

.custom-mar{
    margin: 10px;
}

button {
    padding: 2%;
    margin: 10px;
}

.medpx {
    font-size: 24px;
    font-weight: 400;
}

body {
    background-image: url("../Assets/weather.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.city-day {
    font-size: 5rem;
}

ul{
    list-style: none;
}

.daily-card{
    background-color: #8585859b;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.daily-date {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
}

.custom-city-btn{
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(112, 112, 112);
    border-color: rgba(0, 255, 255, 0);
}

.custom-card-group{
    margin-top: 25px;
}

.pc {
    color: rgb(0, 0, 0);
}

.uvi-low,
.uvi-moderate,
.uvi-high,
.uvi-vhigh,
.uvi-extreme {
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    font-weight: bold;

}

.uvi-low{
    background-color: green;
}

.uvi-moderate{
    background-color: yellow;
}

.uvi-high{
    background-color: orange;
}

.uvi-vhigh{
    background-color: red;
}

.uvi-extreme{
    background-color: violet;
}