.header {
    background-color:rgb(161, 5, 161);
    height: 200px;
    width: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Gowun Dodum', sans-serif;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.col {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#citySearch {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
}

#todaysWeather {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

#cityForm {
    width: 300px;
}

#myCities {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 200px;
    padding: 20px;
    margin: 10px;
}

#fiveDay {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.form-label {
    font-size: 24px;
}

#city-text {
    width: 300px;
}

button {
    background-color: rgb(161, 5, 161);
}
